#header {
    padding: 15px;
    background: linear-gradient(#344, #233A32);
    background-color: #182820;
    border-radius: 5px 5px 0px 0px;
    border-top: 1px solid #AAA;
    color: white;
    text-shadow: 0px 1px 2px black;
    overflow: hidden;
}

#details {
    position: relative;
}

#header table {
    width: 80%;
    clear: both;
}

#header p {
    display: inline;
}

#header h1 {
    font-size: 19px;
    font-weight: bolder;
    color: white;
    text-shadow: 0px 1px 0px black
    padding: 0 !important;
    margin: 0 !important;
    text-align: center;
}

#gravatar {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    padding: 0px;
    margin: 0px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px black;
    float: right;
}

#header table p {
    display: inline;
    line-height: 1.4em;
    color: white;
}

#header table td:first-child {
    text-align: right;
    padding-right: 10px;
}

#details a {
    color: #aba;
    font-family: monospace;
    font-style: none;
}

#skills table p {
    width: 100%;
    display: inline;
}

#grades table, #skills table {
    width: 95%;
    margin: auto;
}
