<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>$title$</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
  </head>
  <body>
    <div id="main">
      <div id="header">
        <div id="navigation">
          <a class="btn" href="/">Home</a>
          <a class="btn" href="/posts">Posts</a>
          <a class="btn" href="/projects">Projects</a>
          <a class="btn" href="/gallery">Gallery</a>
          <a class="btn" href="/resume.html">Resume</a>
          <a class="btn rss" href="/feed.xml">-</a>
        </div>
        <div id="title">
          <h1>$title$</h1>
        </div>
      </div>
      <div id="content">
        $body$
      </div>
    </div>
  </body>
</html>
