<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>$title$</title>
    <link rel="stylesheet" href="/css/syntax.css" />
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/gallery.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    $partial("templates/nav.html")$
    <div class="main">
      <div class="container" id="content">
        <h1>$title$</h1>
        $partial("templates/gallery-list.html")$
      </div>
    </div>
  </body>
</html>
